@media (max-width:1024px) {

    .navbar {
        padding: 0 20px;
    }

    .navbar-div2-divler {
        align-items: center;
        width: 65px;
    }

    .navbar-div3-div1 a img {
        margin: 10px;
    }

    .navbar-div3 {
        padding-right: 40px;
    }

    .benim {
        display: flex;
        justify-content: center;
    }

    .navbar-div2 p,
    .ben-ters-ucgen img {
        display: none;
    }

    .navbar-div3-div1 p,
    .navbar-div3-div1-1 img {
        display: none;
    }

    .navbar-div2-divler-divvv span {
        margin-top: 8px;
    }

    #caret-small {
        display: none;
    }

    .navbar-div3-div1 {
        display: block;
        align-content: center;
        padding-left: 20px;
    }

    .navbar-div3-div1 a {
        width: 24px;
        height: 24px;
    }
}

@media (max-width:768px) {

    .navbar {
        padding: 0 16px;
    }

    .navbar-div1 {
        padding-left: 10px;
        display: flex;
        gap: 0;
    }

    .navbar-div1-div2 input {
        display: none;
    }

    .navbar-div1-div2 {
        width: 100px;
    }

    .navbar-div1-div2 img {
        width: 24px;
        height: 24px;
        top: 5px;
    }

    .navbar-div2-divler {
        max-width: 65px;

    }

    .navbar-div2-divler-divvv span {
        margin-top: 8px;
    }
}

@media (max-width: 576px) {

    .header {
        overflow: visible;
    }

    .navbar {
        padding: 0;
        overflow: scroll;
    }

    
    .navbar-div1 {
        position: sticky;
        left: 0px;
        z-index: 20;
        background-color: #ffffff;      
        height: 52px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    
    .navbar-div2-div3 {
        display: flex;
        flex-shrink: 0;
        overflow-x: scroll;
        overflow-y: hidden;
        z-index: 1;
    }

    .navbar-div1-div2 {
        width: 66px !important;
        height: 34px;
        justify-content: center;
        align-items: center;
    }

    .navbar-div2 {
        display: flex;
        flex-shrink: 0;
    }

    .navbar-div2-divler {
        max-width: 48px;
        flex-shrink: 0;
    }

    .navbar-div3 {
        padding: 0;
        display: flex;
        flex-shrink: 0;
    }

    .navbar-div2-divler-divvv span {
        margin-top: 8px;
    }

}