@media (max-width: 1199px) {
    .container {
        width: 960px !important;
        padding: 0;
        margin: 0;
    }

    .row {
        grid-template-columns: 222px 386px 304px !important;
        width: 960px !important;
    }

    .col-2 {
        width: 222px !important;
    }

    .col-6 {
        width: 386px !important;
    }

    .col-6-div3-div1-div1 span:nth-child(1) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 180px;
    }

    .col-6-div1-alt {
        white-space: nowrap;
    }

    .messengar-box {
        right: 28px;
    }

    .col-div4-3-solsag {
        width: 370px;
    }

    .col-4 {
        width: 304px;
    }

    .saga-ucgen {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 0;
    }
}

@media (max-width:959px) {
    .container {
        width: 720px !important;
    }

    .row {
        grid-template-columns: 224px 472px !important;
        flex-wrap: wrap;
        width: 720px !important;
    }

    .col-2 {
        width: 224px !important;
    }

    .col-6 {
        width: 472px !important;
    }

    .col-6-div {
        width: 100%;
    }

    .col-6-div3-div1-div1 span:nth-child(1) {
        white-space: nowrap;
        text-overflow: none;
        overflow: none;
        width: 100%;
    }

    .col-div4-3-solsag {
        width: 464px;
    }

    .saga-ucgen {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 80px;
    }

    .col-4 {
        width: 472px !important;
        grid-column: 2;
    }

    .col-4-div {
        margin-top: 20px;
    }

    .reklam-footer {
        display: grid;
        justify-content: center;
    }

    .navbar-div1 {
        gap: 4px;
    }

    .navbar-div1-div2 {
        width: 66px;
    }

    .navbar-div2-divler {
        width: 80px !important;
    }

    .navbar-div1-div2 input {
        display: none;
    }

    .navbar-div1-div2 img {
        width: 24px;
        height: 24px;
        top: 5px;
    }

}

@media (max-width:768px) {
    .messengar-box {
        display: none;
    }
}

@media (max-width:767px) {

    .container {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    .row {
        grid-template-columns: 100% !important;
        flex-direction: column;
        gap: 10px;
        width: 100% !important;
    }

    .col-2 {
        width: 100% !important;
        position: static;
        grid-column: 1;
    }

    .col-6 {
        width: 100% !important;
        grid-column: 1;
    }

    .col-4 {
        width: 100% !important;
        grid-column: 1;
    }

    .col-div4-3-solsag {
        width: 413px;
    }

    .saga-ucgen {
        display: inline-block;
        position: relative;
        top: -200px;
        left: 45px;
    }

    .col-2-div-alt2 a:nth-child(2) {
        width: 52%;
    }

    .col-2-div-ust img:nth-of-type(1) {
        height: 56px;
    }

    .navbar-div1-div2 {
        width: 40px;
    }
}

@media (max-width:375px) {

    .row {
        grid-template-columns: 100% !important;
        flex-direction: column;
        gap: 10px;
    }

    .col-2 {
        position: static;
        width: 100% !important;
    }

    .col-6 {
        width: 100% !important;
    }

    .col-4 {
        width: 100% !important;
        position: relative;
        left: 0px;
        top: 10px;
    }

    .col-div4-3-solsag {
        width: 360px !important;
    }

    .saga-ucgen {
        display: inline-block;
        position: relative;
        top: -200px;
        left: -15px;
    }

    .col-2-div-alt2 a:nth-child(2) {
        width: 60%;
    }
}


@media (max-width:320px) {

    .row {
        grid-template-columns: 100% !important;
        flex-direction: column;
        gap: 10px;
    }

    .col-2 {
        width: 100% !important;
        position: static;
    }

    .col-6-div1-alt {
        gap: 0;
    }

    .col-6 {
        width: 100% !important;
    }

    .col-6-div1 {
        font-size: 14px;
        padding: 8px;
        width: 320px;
        font-size: 14px;
    }

    .col-6-div1-alt1 {
        padding-left: 0;
    }

    .col-6-div2 {
        width: 320px;
    }

    .col-div4-3-solsag {
        width: 310px !important;
    }

    .col-4 {
        width: 100% !important;
        position: relative;
        left: 0px;
        top: 10px;
    }

    .saga-ucgen {
        display: inline-block;
        position: relative;
        top: -200px;
        left: -70px;
    }

    .col-6-div4-4-1 {
        line-height: 1.0;
        border-bottom: 1px solid #ebe9e9;
    }

    .col-2-div-alt2 a:nth-child(2) {
        width: 71%;
    }

    .col-6-div4-4-1-sols span a {
        white-space: nowrap;
    }

    .col-6-div4-4-1-sols span {
        white-space: wrap;
        display: inline;
    }

    .col-6-div4-4-2-sag1 {
        margin: 0;
    }

    .col-6-div4-4-2-sag1 span {
        white-space: nowrap;
    }
}